@charset "utf-8";
@import url("fontello.css");
/* @import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css'); */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("normalize.css");
@import url("reset.css");
/* 숨길 콘텐츠 */
.readable-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
/* 기본스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  background: url("images/bg_flower.png") no-repeat 50% 0,
    #aaa linear-gradient(#aaa 0%, #eee 50%, #fff 70%, #fff 100%);
  color: #181818;
  font-family: "Spoqa Han Sans", sans-serif;
  font-size: 1.4rem;
}
a {
  color: inherit;
  text-decoration: none;
}
/* 플로트 이슈를 해결하기 위한 클래스 */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header {
  background-color: white;
  position: relative;
  padding: 0px 30px 40px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo {
  position: absolute;
  left: 65px;
  top: 48px;
}
/* 멤버링크 */
.member {
  float: right;
  text-transform: uppercase;
  padding: 2px 0;
  position: relative;
  right: -10px;
}
.member li {
  float: left;
}
.member li:nth-child(n + 2)::before {
  content: ":";
}
.member a {
  display: inline-block;
  padding: 8px;
}
/* 메인 메뉴 */
.navigation {
  clear: both;
}
.menu {
  background-color: #ed552f;
  background-image: linear-gradient(#e97e2e, #ed552f, #ed552f, #e97e2e);
  border-top: 2px solid #000;
  height: 47px;
  border-radius: 0 0 5px 5px;
  padding-left: 229px;
}
.menu-item {
  border-left: 2px solid #fff;
  float: left;
  position: relative;
  padding: 0 20px;
}
.menu-act .menu-item-text {
  color: #ff0;
  border-bottom: 2px solid #000;
}
.menu-item-text {
  cursor: pointer;
  display: block;
  color: #fff;
  line-height: 45px;
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0px 1px 0 #000, 1px 0px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}
.sub-menu {
  position: absolute;
  top: 47px;
  white-space: nowrap;
  display: none;
}
.menu-act .sub-menu {
  display: block;
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}
.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
}
.sub-menu li,
.sub-menu a {
  display: inline-block;
}
.sub-menu a {
  padding: 8px 0 8px 10px;
  margin-right: 10px;
}
.sub-menu a::before {
  content: "\f192";
  font-family: "fontello";
  width: 1em;
  margin-right: 0.5em;
}
.sub-menu a:hover::before {
  content: "\e800";
  font-family: "fontello";
}
/* 비주얼 */
@keyframes bgAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes textAni {
  0% {
    color: rgba(0, 0, 0, 0);
    font-size: 12px;
    transform: translate(0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    transform: translate(400px, 75px);
  }
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before,
.visual::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: bgAni 2000ms infinite alternate;
}
.visual::before {
  background: url("images/ani_flower_01.png") no-repeat 0 -10px,
    url("images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after {
  background: url("images/ani_flower_03.png") no-repeat 300px 0,
    url("images/ani_flower_04.png") no-repeat 800px 0;
  animation-delay: 1000ms;
}
.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  animation: textAni 1000ms forwards;
  display: inline-block;
  max-width: 540px;
}
/* 메인 */
.main {
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  height: 450px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.group1 {
  width: 250px;
}
.group2 {
  width: 380px;
}
.group3 {
  width: 190px;
}
/* 로그인 */
.login {
  border-radius: 5px;
  background: orangered radial-gradient(circle at right top, #e97e2e, #ed552f);
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 10px;
}
.login-heading {
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px;
}
.login-form {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}
.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
.user-pw {
  margin-top: 6px;
}
.login-form label {
  display: inline-block;
  width: 4em;
}
.login-form input {
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.btn-login {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  border: 1px solid orange;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  background-color: orangered;
  font-size: 1.2rem;
}
.sign {
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-between;
  letter-spacing: -1px;
}
.sign .icon-right-open::before {
  color: #ed552f;
  margin: 0;
}
/* 내가 한 실습 
 .user-email, .user-pw{ 
   display: inline; 
 } 
 .user-email label{ 
 } 
 .user-email input{ 
 } 
 .btn-login{ 
   position: absolute; 
   float: right; 
   clear: both; 
   } */
/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;
}
.validation-list a{
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  background: url("images/validation_icon.png") no-repeat 15px 50%,
              linear-gradient(to bottom, #ccc, #eee);
  padding: 5px 0 7px 35px;
  margin: 10px 0;
}
/* 웹 관련 용어 */
.term{
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #aaa linear-gradient(#ccc, #eee);
  padding: 10px 15px;
}
.term-heading{
  font-size: 1.5rem;
  font-weight: 700;
}
.term-list{
  margin-top: 10px;
}
.term-list-subject,.term-list-brief{
  float: right;
  width: 145px;
}
.term-list-subject{
  color: #296897;
  margin-top: -4px;
}
.term-list-thumbnail{
  float: left;
}
.term-list-brief{
  margin: 5px;
} 
/* 실습내용
.term{
  background-color: yellow;
  margin: 20px;
}
.term-heading{
  background-color: pink;
  font-size: 1.5rem;
}
.term-list{
  background-color: lime;
}
.term-list-subject{
  background-color: orange;
  float: right;
  width: 140px;
  color: blue;
}
.term-list-thumbnail{
  background-color: red;
  float: left;
}
.term-list-brief{
  background-color: aqua;
  width: 140px;
  float: right;
  clear : both;
} */
/* 검색 폼 */
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  padding :15px 25px 10px;
  border: 1px solid #aaa;
  border-bottom-color: #fff;
  border-radius: 15px 15px 0 0;
}
.search-form *{
  vertical-align: middle;
}
.search-form input{
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 22px;
  width: 200px;
  padding: 1px 1px 1px 5px;
  margin: 0 2px;
}
.btn-search{
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #fff;
  background: #222;
  padding: 0 10px;
  height: 22px;
  font-size: 1.3rem
}
/* 공지사항 및 자료실 */
.board{
  margin-top: 20px;
  position: relative;
}
.tab{
  position: absolute;
  top: 0;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  color: #666;
  padding:5px 10px;
  cursor: pointer;
}
.tab1{
  left: 0;
}
.tab2{
  left: 73px;
}
.board-act .tab{
  color: #ed552f;
  border-color: #ed552f #ed552f #fff #ed552f;
  background: #fff;
}
.board-list{
  padding-top: 45px;
}
.board-list li{
  position: relative;
  margin-bottom: 8px;
}
.board-subject{
  display: block;
  width: 295px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-date{
  position: absolute;
  top: 0;
  right: 0;
}
.board-more{
  position: absolute;
  top: 0;
  right: 0;
}
.board-list, .board-more{
  display: none;
}
.board-act .board-list, .board-act .board-more{
  display: block;
}
/* 실습내용
.board{
  margin: 20px;
  position: relative;
}
.tab{
  background-color: lime;
  position: absolute;
  top : 0px;
  float: left;
}
.board-act .tab{
  background-color: pink;
}
.board-list, .board-more{
  background: #aaa;
  border-radius: 5px;
  display: none;
}
.board-act .board-list, .board-act .board-more{
  display: block;
}
.board-list a{
  float: left;
  width: 290px;
}
.board-list time{
  float: right;
} */

/* 새소식 */
.news{
  margin-top: 20px;
  position: relative;
}
.news::before{
  content : '';
  position: absolute;
  top: 35px;
  left: 0px;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(to right, #aaa, #eee);
}
.news-heading{
  color: #ed552f;
  font-size: 1.5rem;
  font-weight: 700;
}
.news-item{
  margin-top: 35px;
  padding-left: 130px; 
  position: relative;
}
.news-item-subject{
  font-weight: 700;
}
.news-item-brief{
  margin-top: 8px;
}
.news-item-thumbnail{
  position: absolute;
  top: 4px;
  left: 0;
  text-align: center;
}
.news-item-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 15px 15px 0 #aaa;
}
.news-more{
  position: absolute;
  top: 0;
  right: 0;
}
.board-more::before, .news-more::before, .favorite-more::before{
  color: hsla(110, 70%, 30%, 1);
}
/* 실습 내용
.news{
  margin-top: 20px;
}
.news-heading{
  color: #ed552f;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.news-item{
  border-top: 1px solid #aaa;
  position: relative;
}
.news-item-subjedct , .news-item-date, .news-item-brief{
  position: absolute;
}
.news-item-thumbnail{
  display: block;
  box-shadow: 5px 5px 0 0 #aaa;
}
.news-more{
  float: right;
  width: 70px;
}
.news-more::before{
  color: hsla(110, 70%, 30%, 1);
} */

/* 신규이벤트 및 관련 사이트 */
.event-related{
  background: #ccc linear-gradient( #ccc, #eee);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
.event{
  position: relative;
}
.related{
  border-top: 1px solid #aaa;
  padding-top: 10px;
  }
.event-heading , .related-heading, .favorite-heading{
  font-weight: 700;
  font-size: 1.5rem;
}
.point-color{
  color: #ed552f;
}
.event-thumbnail, .event-brief{
  margin: 10px 0;
}
.event-thumbnail{
  border: 1px solid #aaa;
  box-shadow: 5px 5px #aaa;
}
.btn-event{
overflow: hidden;
height: 24px;
position: absolute;
top: 0;
right: 0;
}
.btn-event-prev, .btn-event-next{
  float: left;
  width: 19px;
  height: 0;
  padding: 24px 0 0 0;
  margin-left: 5px;
  background: url('images/back_forward.png') no-repeat;
  border: 0;
}
.btn-event-next{
  background-position: 100% 0;
}
.related-list{
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
  height: 27px;
  overflow: hidden;
  transition: all .4s;
}
.related-list:hover{
  height: 137px;
  padding: 5px 0;
}
.related-list a{
  display: block;
  line-height: 25px;
  text-indent: 25px;
}
/* 실습 내용
.event-related{
  background: #aaa radial-gradient(circle at right top, #aaa, #eee);
  border: 1px solid #181818;
  padding: 10px;
  border-radius: 5px;
}
.point-color{
  color: #ed552f;
}
.event-heading , .related-heading{
  font-weight: 700;
  margin-bottom: 10px;
}
.event{
  position: relative;
  border-bottom: #000;
}
.event-thumbnail{
  box-shadow: 0 15px 15px 0 #eee;
}
.btn-event{
  position: absolute;
  top: 0;
  right: 0;
  height: 18;
  background: url("images/back_forward.png") no-repeat;
}
.related-act{
  display: block;
}
.related-list{
  display: none;
} */
/* 인기 사이트 */
.favorite{
  position: relative;
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(#ccc,#eee);
}
.favorite-list{
  overflow: hidden;
}
.favorite-list li{
  display: flex;
  align-items: center;
  margin-top: 8px;
  counter-increment: number;
  /* position: relative; */
}
.favorite-list li::before{
  content: counter(number);
  color: #fff;
  background: #999;
  padding: 0px 6px;
  font-size: 1.1rem;
  border-radius: 2px;
  margin-right: 5px;
}
/* .no1::before{
  content: '1';
}
.no2::before{
  content: '2';
}
.no3::before{
  content: '3';
}
.no4::before{
  content: '4';
} */
.up, .stop , .down{
  /* float: right; */
  /* margin-top: 5px; */
  /* position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px; */
  margin-left: auto;
  padding-top: 11px;
  overflow: hidden;
  width: 9px;
  height: 11px;
  background: url('images/rank.png') no-repeat;
}
.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}
.favorite-more{
  position: absolute;
  top: 10px;
  right: 10px;
}
/* 슬로건 */
.slogan {
  padding: 15px 100px 15px 100px;
  position: relative;
  height: 10vh;
}
.slogan-heading{
  position: absolute;
  left: 35px;
  bottom: -25px;
  width: 110px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slogan-heading::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/coffee.png') no-repeat;
}
.slogan-content{
  color: #a09784;
}
.slogan-content q::before{
  font-size: 3rem;
  position: relative;
  top: 10px;
}
.slogan-content q::after{
  content: '';
}
/* 푸터 */
.footer-bg {
  background: #ccc linear-gradient(#ccc 0%, #eee 30% , #fff 70%, #fff 100%);
}
/* 푸터 */
.footer {
  background-color: yellow;
  height: 10vh;
}
