@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('normalize.css');
@import url('reset.css');
/* 기본스타일 */
*,*::before, *::after{
  box-sizing: border-box;
}
body{
  background-color: #fff;
  color :#181818;
  font-family: 'Spoqa Han Sans', sans-serif;
}
a{
  color: inherit;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
background-color: green;  
}
/* 비주얼 */
.visual{
background-color: orangered;  
height: 10vh;
}
/* 메인 */
.main{
background-color: blue;  
height: 60vh;
padding: 0 30px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.group{
  background-color: lightgreen;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 슬로건 */
.slogan{
background-color: pink;  
height: 10vh;
}
/* 푸터 */
.footer-bg{
background-color: purple;  
}
/* 푸터 */
.footer{
background-color: yellow;
height: 10vh;  
}
